* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #f22f46;
  color: white;
}

body {
  font-family: "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif;
  color: #0d122b;
  border-top: 5px solid #f22f46;
}

header {
  padding: 2em;
  margin-bottom: 2em;
  max-width: 800px;
  margin: 0 auto;
}

.manage {
  padding-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
}

a {
  color: #008cff;
}

main {
  margin: 0 auto 6em;
  padding: 4em;
  max-width: 800px;
}

.projects {
  margin-bottom: 2em;
}

.project-item {
  padding-top: 10px;
  font-size: 3.0rem;
}

.project-item-vs{
  font-size: 3.0rem;
}

.item-a {
  border: 3px solid #cc6633;
}

.item-b {
  border: 3px solid #006699;
}

footer {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
